<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <section id="search">
                <div id="searchDiv">
                    <input type="text" name="searchInput" id="searchInput" placeholder="Search...">
                </div>
                <select name="tagSelect" id="tagSelect">
                    <option value="tag">tag</option>
                </select>
            </section>
            <section>
                <a href="/addItem">Add a new item</a>
            </section>
        </main>
    </body>
</html>